.ballContent{
    background: blue;
    width: 780px;
    height: 597px;
    z-index: -1;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}